*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;

}
h1{
    font-weight: 400;
    font-size: 2.6rem;
}
.container{
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
table{
    margin: auto;
    height: 100%;
}
td{
    padding: 0;
    display: table-cell;
}
input[type="text"]{
    padding: 16px 8px;
    width: 100%;
    max-height: 100%;
    border:0;
    font-size: 30px;
    margin-bottom: 8px;
    border-radius: 4px;
}
input:focus{
    outline: none;
}
button{
    display: block;
    position: relative;
    background-color: #eee;
    width: 90px;
    height: 60px;
    border:1px solid #aaa;
    border-radius: 4px;
    color: #333;
    font-size: 1.8rem;
}
button:hover{
    background-color: #cfcfcf;
}
button:active{
    background-color: #bfbfbf;
}
.calculator{
    background-color: rgb(220, 235, 233);
    padding: 24px;
    border-radius: 8px;
    display: inline-block;
}
#clear{
    background-color: tomato;
    margin-left: auto;
}
#clear:hover{
    background-color: rgb(230, 77, 50);
}
#eql{
    background-color: lightgreen;
}
#eql:hover{
    background-color: rgb(119, 206, 119);
}
#add{
    height: 120px;
}